
[submodule "sw/OmniView-Product-Vision"]
	path = sw/OmniView-Product-Vision
	url = git@github.com:skunkforce/OmniView-Product-Vision.git
[submodule "sw/OmniView"]
	path = sw/OmniView
	url = git@github.com:skunkforce/OmniView.git
[submodule "fw/unified-abstract-dataproducer-template"]
	path = fw/unified-abstract-dataproducer-template
	url = git@github.com:skunkforce/unified-abstract-dataproducer-template.git
[submodule "sw/API/ai_fft-analysis-api-documentation_ref"]
	path = sw/API/ai_fft-analysis-api-documentation_ref
	url = git@github.com:AI-Gruppe/ai_fft-analysis-api-documentation_ref.git


[submodule "sw/ai_OmniViewSW_doc"]
	path = sw/ai_OmniViewSW_doc
	url = git@github.com:skunkforce/ai_OmniViewSW_doc.git
[submodule "sw/API/ai_battery-measurement-api_sw"]
	path = sw/API/ai_battery-measurement-api_sw
	url = git@github.com:AI-Gruppe/ai_battery-measurement-api_sw.git
[submodule "sw/API/ai_fft-analysis-api_sw"]
	path = sw/API/ai_fft-analysis-api_sw
	url = git@github.com:AI-Gruppe/ai_fft-analysis-api_sw.git
[submodule "sw/ai-internal_omnai_backend2.0_cpp"]
	path = sw/ai-internal_omnai_backend2.0_cpp
	url = git@github.com:AI-Gruppe/ai-internal_omnai_backend2.0_cpp.git
[submodule "sw/ai-internal_omnai_backend2.0_api_doc"]
	path = sw/ai-internal_omnai_backend2.0_api_doc
	url = git@github.com:AI-Gruppe/ai-internal_omnai_backend2.0_api_doc.git
[submodule "sw/ai_omnai-frontend-2.0_electron"]
	path = sw/ai_omnai-frontend-2.0_electron
	url = git@github.com:AI-Gruppe/ai_omnai-frontend-2.0_electron.git
